<h2 class="text-center">Agregar producto nuevo</h2>
<form action="/productos" method="post">
    <!--Nombre-->
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" placeholder="Ingrese nombre" class="form-control" name="nombre">
    </div>
    <!--Descripción-->
    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <input type="text" placeholder="Ingrese descripción" class="form-control" name="descripcion">
    </div>
    <!--Foto-->
    <div class="mb-3">
        <label class="form-label">Foto</label>
        <input type="text" placeholder="Ingrese foto" class="form-control" name="foto" >
    </div>
    <!--Stock-->
    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="text" placeholder="Ingrese stock" class="form-control" name="stock">
    </div>
    <!--Precio-->
    <div class="mb-3">
        <label class="form-label">Precio</label>
        <input type="text" placeholder="Ingrese precio" class="form-control" name="precio">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>