<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/productos">
            <img src="https://mundofix.com/img/mundo-fix-logo-1601237627.jpg" alt="" width="165" height="35">
        </a>
        <form class="d-flex" method="POST" action="http://localhost:8080/carrito">
            <button class="btn btn-outline-success" type="submit">Crear carrito</button>
        </form>
    </div>
</nav>