<% if (dbProductos.length > 0) { %>
    <% for(const producto of dbProductos) { %>
        <div class="col mt-3">
            <div class="card" style="width: 18rem;">
                <img src="<%= producto.foto %>" class="card-img-top" alt="<%= producto.title %>">
                <div class="card-body">
                    <h5 class="card-title"><%= producto.nombre %></h5>
                    <%# <p class="card-text"></p> %>
                    <p class="product-id d-none"><%= producto.id %></p>
                    <a href="#" class="btn btn-primary">Conocer</a>
                    <% if (administrador) { %>
                        <button class="btn btn-warning modificar-producto">Actualizar</button>
                        <button class="btn btn-danger mt-2 eliminar-producto">Eliminar</button>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
<% } else { %>
    <div class="container mt-3">
        <h3 class="alert alert-danger">No se encontro ningun dato</h3>
    </div>
<% } %> 