<% if (personas.length > 0) { %> 
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
            </tr>
        </thead>
        <tbody>
            <% for(const persona of personas) { %>
                <tr>
                    <td><%= persona.nombre %></td>
                    <td><%= persona.apellido %></td>
                    <td><%= persona.edad %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
<% } else { %>
    <div class="container mt-3">
        <h3 class="alert alert-danger">No se encontro ningun dato</h3>
    </div>
<% } %> 